/* global css*/
:root {
    --main-bg-color: #26a69a;
}

.main-nav {
    background-color: var(--main-bg-color);
    padding-left: 10px;
}

main {
    padding: 10px;
    height: 250vh;
}

.page-footer {
    background-color: #aab6b6;
    color: rgb(39, 39, 39);
    text-align: center;
    padding: 10px;
}

.flex-center-btw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*MATERIALIZE-CSS overrides*/

.input-field > label.field-description,
.drag-target {
    pointer-events: none;
}

.card .card-content .card-title {
    margin-bottom: 30px;
}

select {
    display: block;
}

/*THEME CSS*/
.theme-bgc {
    background-color: var(--main-bg-color);
    color: #fff;
}
