/* global css*/
:root {
    --main-bg-color: #26a69a;
}

.main-nav {
    background-color: var(--main-bg-color);
    padding-left: 10px;
}

main {
    padding: 10px;
    height: 100vh;
}

.page-footer {
    background-color: #aab6b6;
    color: rgb(39, 39, 39);
    text-align: center;
    padding: 10px;
}

.flex-center-btw {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hover-transition {
    cursor: pointer;
    transition: background-color .3s;
}

.hover-transition:hover {
    background-color: rgba(0,0,0,0.05);
}

table {
    border: 1px solid #ccc;
}

/*MATERIALIZE-CSS overrides*/

.input-field > label.field-description,
.drag-target {
    pointer-events: none;
}

.card .card-content .card-title {
    margin-bottom: 30px;
}

select {
    display: block;
}

.sidenav {
    z-index: 1001;
}

.sidenav .user-view {
    padding: 32px 18px;
}

table.striped > tbody > tr:nth-child(odd) {
    background-color: #7b7b7b1f;
}

/*THEME CSS*/
.theme-bgc {
    background-color: var(--main-bg-color);
    color: #fff;
}
